// Variáveis globais para utilizar no site

$cor-cabecalho: #d71010;
$cor-fundo-chat: #F5F5F5;
$cor-mensagem-ia: #E0E0E0;
$cor-mensagem-usuario: #95ebc4;

body {
    font-size: 16px;
    color: black;
    background-color: #F5F5F5;
}